---
name: Delete untagged and/or unsupported Docker images on ghcr.io

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub Actions Documentation
# https://docs.github.com/en/github-ae@latest/actions

on:
  # Run on Saturdays at 10:15 AM UTC
  schedule:
    - cron: '15 10 * * SAT'
  # or on button click
  workflow_dispatch:
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onworkflow_dispatchinputs
    inputs:
      tags:
        description: Spare unsupported tags (whitespace-separated)
        required: false
        type: string

jobs:
  # Calling a reusable workflow
  call-cleanup:
    uses: rlaiola/ci-templates/.github/workflows/clean-packages.yml@main
    with:
      tags: ${{ github.event.inputs.tags }}
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
